body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(219, 219, 219);
}

#main{
    padding: 5% 20%;
}
.box{
    background-color: white;
    padding: 5% 10% 5%;
    text-align: center;
}
error{
    color:red;
    font-weight: bolder;
}