footer{
    width: 100%;
    color:white;
    background-color: rgb(49, 49, 49);
    text-align: left;
    padding: 2% 1% 2%;
    
}

footer a:link{
    text-decoration: none;
    color:white;
}
footer a:visited{
    text-decoration: none;
    color:white;
}

